.container {
  margin-top: 5rem;
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 3.5rem;

  h2 {
    font-family: 'Gentium Book Plus', serif;
    font-size: 3rem;
    color: #ffff;
    border-bottom: 3px solid #4c3f91;
    width: 35rem;
    margin: 1rem 0;
  }

  .containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
  }
}

@media (max-width: 1180px) {
  .container {
    align-items: center;
    height: 50rem;
    h2 {
      width: 100%;
      text-align: center;
    }
    .containerGrid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 1rem 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    height: 32rem;
    .containerGrid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
}
