.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3.5rem;

  h2 {
    font-family: 'Gentium Book Plus', serif;
    font-size: 3rem;
    color: #ffff;
    border-bottom: 3px solid #4c3f91;
    width: 35rem;
    margin: 1rem 0;
  }

  .containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      '. . .'
      '. . .'
      '. . .'
      '. . .';
  }
}
