* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 400 16px 'Rubik', sans-serif;
  transition: 0.4s;
  color: var(--brown-500);
}

:root {
  --white: #ffffff;
  --black: #000000;
}

body,
#root,
html {
  transition: none;
  background-color: #09090D;
}

main {
  height: 150vh;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1380px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}
