.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3.5rem;

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem 1%;

    h3 {
      color: #ffff;
      font-weight: 300;
      line-height: 2.5rem;
      font-size: 2rem;

      strong {
        color: #4c3f91;
        font-weight: 600;
      }
    }
    p,
    strong {
      font-size: 2rem;
      font-family: 'Rubik', sans-serif;
    }
  }

  h2 {
    font-family: 'Gentium Book Plus', serif;
    font-size: 3rem;
    color: #ffff;
    border-bottom: 3px solid #4c3f91;
    width: 30rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1280px) {
  .container {
    h2 {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 900px) {
  .container {
    .gridContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 5rem 1%;
    }
  }
}
